/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #d8d8d8;
}
.footer {
  margin-top: 50px;
  border-top: 1px solid #dee2e6
}


.pages_container {
  background-color: white;
}

.margin-div {
  background-color: #d8d8d8;
}


.newlayoutlink a {
  font-family: Lato, Tahoma, serif;
  font-size: 14px;
  color: #404040;
  text-decoration: none;
  font-weight: 500;
}

.newlayoutlink button {
  font-family: Lato, Tahoma, serif;
  font-size: 14px;
  color: #404040;
  text-decoration: none;
  font-weight: 500;
}

.newlayoutlink form {
  font-family: Lato, Tahoma, serif;
  font-size: 14px;
  color: #404040;
  text-decoration: none;
  font-weight: 500;
}


.newlayoutlink_kreska {
  font-family: Arial;
  font-size: 14px;
  color: #b0b0b0;
  margin-left: 8px;
  margin-right: 8px;
}

.not-button-from {
  display: inline;
}

.not-button-from button {
  border: none;
  padding: 0;
  font-weight: normal;
  background-color: transparent;
}

.scene {
  width: 100%;
  margin: 30px auto auto;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: #777;
  border: 1px solid #e8e8e8;
}

.seats {
  border-spacing: 10px;
  border-collapse: separate;
  margin: auto;
}

.seats td {
  text-align: center;
  height: 3vw;
  width: 3vw;
  border: 1px solid #dee2e6;
}

.seats th {
  height: 3vw;
  width: 3vw;
}

#seats-table .free-seat:hover {
  background-color: lightblue;
}

.legend-table {
  border-collapse: separate;
  border-spacing: 10px;
  margin:0;
}

.legend-table td {
  border: 1px solid #dee2e6;
}

.free-seat {
  background-color: lightgreen;
}

.taken-seat {
  background-color: gray;
}

.chosen-seat {
  background-color: lightblue;
}

.evenly {
  display: flex;
  justify-content: space-evenly;
}