<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CharlieRazor</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<div class="container-fluid pages_container">
    <div class="row">
        <div class="col-md-2 margin-div"></div>
        <div class="col-lg-6 col-md-8">
            <partial name="_LoginPartial"/>
            <partial name="_CookieConsentPartial"/>
            <div>
                <div class="mb-sm-5">
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="col-md-2 right-column text-center text-md-left">
            <img class="img-fluid" src="~/images/cinergia-2018-plakat.jpg"/>
            <img class="img-fluid" src="~/images/cinergia-2018-niel-kennedy.jpg"/>
            <img class="img-fluid" src="~/images/nhef20182019_banner.png"/>
            <img class="img-fluid" src="~/images/open-cinema-zapraszamy.jpg"/>
            <img class="img-fluid" src="~/images/charlie-dla-szkol-banner.jpg"/>
            <img class="img-fluid" src="~/images/sroda-niedziela-seniora-banner.jpg"/>
            <img class="img-fluid" src="~/images/w2233_il0.jpg"/>
            <img class="img-fluid" src="~/images/banner_charlie-kocha-kobiety.jpg"/>
            <img class="img-fluid" src="~/images/banner_2017_lubieponiedzialek.png"/>
            <img class="img-fluid" src="~/images/klub-charliego.jpg"/>
            <img class="img-fluid" src="~/images/lodzkreuje_banner_150px.gif" style="width: 170px; padding: 5px; background-color: white;"/>
        </div>
        <div class="col-md-2 margin-div"></div>
    </div>
    <div class="row">
        <div class="col-md-2 margin-div"></div>
        <div class="col-md-8 col-sm-12 footer">
            <footer>
                <p>&copy; 2019 - CharlieRazor</p>
            </footer>
        </div>
        <div class="col-md-2 margin-div"></div>
    </div>
</div>


<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
